<h3>New Post</h3>

<input placeholder="Post Title" class="input"
[(ngModel)]="post.title"
required minlength="2" maxlength="23"
#title='ngModel' autofocus>

<textarea placeholder="Post Body" class="textarea" cols="10" rows="5"
[(ngModel)]="post.body"
required minlength="2" maxlength="500"
#body='ngModel'></textarea>

<div class="box">
  <label>
     <input type="file" class="button" (change)="detectFiles($event)">
  </label>

  <button class="button is-primary"
          [disabled]="!selectedFiles"
          (click)="uploadPostImage()">
    Upload Single
  </button>
</div>

<button class="button is-primary" (click)='createPost()'>Create</button>
