// Card styles

.card {
  margin-bottom: 12px;

  .field:last-child {
    margin-bottom: 12px;
  }
}

.date-time {
  font-size: 14px;
  margin-bottom: 12px;
}

.sub-footer {
  border-top: 1px dashed #ddd;
  padding: 16px 0;
}

.like-icon {
  cursor: pointer;
}
