// Global styles

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.footer {
  border-top: 1px solid $gray-lightest;
  min-height: 100px;
  text-align: center;
}

.nav-item {
  overflow: hidden;

  img {
    max-height: 40px;
    margin-right: 5px;
  }
}

.box {
  border-radius: 0px;
}

.section {
  padding: 2rem 1rem;
}

.image {
  &.is-round {
    img {
      border-radius: 50%;
    }
  }

  &.is-inline {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.notification {
  padding: 10px;
}
