// Global styles

@import url("https://fonts.googleapis.com/css?family=Roboto");

$body-font-color: #484848;

body {
  color: $body-font-color;
  font-family: "Roboto", sans-serif;
}

.footer {
  border-top: 1px solid $gray-lightest;
  min-height: 100px;
  text-align: center;
}

.nav-item {
  overflow: hidden;

  img {
    margin-right: 5px;
    max-height: 40px;
  }
}

.box {
  border-radius: 0px;
}

.section {
  padding: 2rem 1rem;
}

.image {
  &.is-round {
    img {
      border-radius: 50%;
    }
  }

  &.is-centered {
    margin: 0 auto;
  }

  &.is-inline {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.notification {
  padding: 10px;
}

.blank-state {
  padding-bottom: 70px;
  padding-top: 50px;
  text-align: center;
}

// Separator used on login and reg forms
.or-separator {
  margin: 28px 0;
  overflow: hidden;
  text-align: center;

  .content {
    padding: 16px;
    position: relative;

    span {
      color: #a6a6a6;
      font-size: 12px;
      text-transform: uppercase;
    }

    &::before,
    &::after {
      border-bottom: 1px solid rgba(#979797, 0.2);
      content: "";
      position: absolute;
      top: 50%;
      width: 5000px;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }
}

//
// bulma overrides
//

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    color: $body-font-color;
  }
}

.message a:not(.button):not(.tag) {
  color: inherit;
}
