// Global styles

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.footer {
  border-top: 1px solid $gray-lightest;
  min-height: 100px;
  text-align: center;
}

.nav-item {
  overflow: hidden;

  img {
    max-height: 40px;
    margin-right: 5px;
  }
}

.box {
  border-radius: 0px;
}

.section {
  padding: 2rem 1rem;
}

.image {
  &.is-round {
    img {
      border-radius: 50%;
    }
  }

  &.is-centered {
    margin: 0 auto;
  }

  &.is-inline {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.notification {
  padding: 10px;
}

.blank-state {
  padding-bottom: 70px;
  padding-top: 50px;
  text-align: center;
}

// Separator used on login and reg forms
.or-separator {
  overflow: hidden;
  text-align: center;
  margin: 28px 0;

  .content {
    position: relative;
    padding: 16px;

    span {
      color: #a6a6a6;
      text-transform: uppercase;
      font-size: 12px;
    }

    &::before,
    &::after {
      border-bottom: 1px solid rgba(#979797, .2);
      content: '';
      position: absolute;
      top: 50%;
      width: 5000px;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }
}
