<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" routerLink="/">
      <img src="assets/images/logo.svg" width="40px" height="40px" alt="GengoApp logo"/> GengoApp
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" (click)="toggleCollapse()" [ngClass]="{'is-active': show }">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu" [ngClass]="{'is-active': show }">
    <!-- sign-in -->
    <a class="nav-item" routerLink="/phrases" *ngIf="auth.currentUser" (click)="toggleCollapse()">
      Phrases
    </a>
    <a class="nav-item" routerLink="/mistakes" *ngIf="auth.currentUser" (click)="toggleCollapse()">
      Mistakes
    </a>
    <a class="nav-item" routerLink="/posts" *ngIf="auth.currentUser" (click)="toggleCollapse()">
      Posts
    </a>
    <a class="nav-item" routerLink="/feedback" *ngIf="auth.currentUser" (click)="toggleCollapse()">
      Feedback
    </a>

    <!-- sign-out -->
    <a class="nav-item is-hidden-desktop" *ngIf="auth.currentUser" (click)="signout()">
      Sign out
    </a>
    <a class="nav-item" routerLink="/login" *ngIf="!auth.currentUser" (click)="toggleCollapse()">
      Login/Signup?
    </a>
  </div>
</nav>
