<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" routerLink="/">
      <img src="assets/images/logo.png" width="40px" height="40px" alt="GengoApp logo"/> GengoApp
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" (click)="toggleCollapse()" [ngClass]="{'is-active': show }">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu" [ngClass]="{'is-active': show }">
    <a class="nav-item" routerLink="/login" *ngIf="!auth.currentUser" (click)="toggleCollapse()">
      Login/Signup?
    </a>
    <a class="nav-item" routerLink="/phrases" *ngIf="auth.currentUser" (click)="toggleCollapse()">
      Phrases
    </a>
    <a class="nav-item" routerLink="/mistakes" *ngIf="auth.currentUser" (click)="toggleCollapse()">
      Mistakes
    </a>

    <div class="nav-item" *ngIf="auth.currentUser">
      <div class="field is-grouped">
        <p class="control">
          <a class="button is-primary" routerLink="/posts" (click)="toggleCollapse()">
            <span class="icon">
              <i class="fa fa-pencil-square-o"></i>
            </span>
            <span>Post</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>
