// Helper styles

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.strike-out {
  color: indianred;
  font-weight: normal !important;
  text-decoration: line-through;
}

.hidden {
  display: none;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  width: 0;
}
