<div class="content">
  <h2>
    Questions
    <button
      class="button is-link is-pulled-right"
      (click)="toggleNewQuestionModal()"
    >
      Add New
    </button>
  </h2>
  <p>These are frequently asked questions and their answer.</p>
</div>

<!-- New Question Modal -->
<div class="modal" [class.is-active]="newQuestionModalOpen">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="field parent-wrapper">
      <div class="content">
        <h5>
          <i class="fas fa-pencil-alt" aria-hidden="true"></i> New Question
        </h5>
      </div>
      <div class="field">
        <label class="label" for="questionNewQuestion"
          >Question <small class="has-text-danger">*</small></label
        >
        <input
          id="questionNewQuestion"
          class="input"
          [(ngModel)]="question.question_text"
          required
          minlength="1"
          maxlength="100"
          type="text"
          #question_text="ngModel"
          autofocus
        />
      </div>
      <div class="field">
        <label class="label" for="questionNewAnswer"
          >Answer <small class="has-text-danger">*</small></label
        >
        <input
          id="questionNewAnswer"
          class="input"
          [(ngModel)]="question.answer_text"
          required
          minlength="1"
          maxlength="100"
          type="text"
          #answer_text="ngModel"
        />
      </div>

      <div class="content" *ngIf="!showAdditionalInputs">
        <a (click)="toggleAdditionalInputs()">
          <i class="fa fa-plus" aria-hidden="true"></i> Add more details
        </a>
      </div>

      <div class="content" *ngIf="showAdditionalInputs">
        <div class="field">
          <a class="has-text-danger" (click)="toggleAdditionalInputs()">
            <i class="far fa-trash-alt" aria-hidden="true"></i> Remove
            additional details
          </a>
        </div>

        <div class="field">
          <label class="label" for="questionNewAdditionalAnswer"
            >Additional Answer
            <small class="has-text-grey-light">(optional)</small></label
          >
          <input
            id="questionNewAdditionalAnswer"
            class="input"
            [(ngModel)]="question.additional_answer"
            minlength="1"
            maxlength="100"
            type="text"
            #additional_answer="ngModel"
          />
        </div>

        <div class="field">
          <label class="label" for="questionNewNotes"
            >Notes <small class="has-text-grey-light">(optional)</small></label
          >
          <textarea
            id="questionNewNotes"
            placeholder="{{ question.notes || 'Add notes' }}"
            class="textarea"
            [(ngModel)]="question.notes"
            minlength="2"
            maxlength="1000"
            rows="5"
            #notes="ngModel"
          ></textarea>
        </div>

        <div class="field">
          <label class="label" for="questionNewTopic"
            >Topic <small class="has-text-grey-light">(optional)</small></label
          >
          <input
            id="questionNewTopic"
            class="input"
            [(ngModel)]="question.topic"
            minlength="1"
            maxlength="100"
            type="text"
            #topic="ngModel"
          />
        </div>
      </div>

      <button
        class="button is-link is-medium is-fullwidth"
        [disabled]="!question_text.valid || !answer_text.valid"
        (click)="createQuestion()"
      >
        SAVE
      </button>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="toggleNewQuestionModal()"
    ></button>
  </div>
</div>
