<h3>New Phrases
  <div class="floating-actions">
    <a [ngClass]="{ 'active': !isJapaneseInput }" (click)="isJapaneseInput=false">English</a> |
    <a [ngClass]="{ 'active': isJapaneseInput }" (click)="isJapaneseInput=true">Japanese</a>
  </div>
</h3>

<div *ngIf="!isJapaneseInput">
  <input placeholder="Type in English" class="input"
  [(ngModel)]="translation.en"
  required minlength="1" maxlength="100"
  #en='ngModel' autofocus>

  <div *ngIf="en.dirty">
    <span *ngIf='en.errors; then errors else valid'>template renders here...</span>
  </div>

  <button class="button is-primary" (click)="createTranslation()" [disabled]="!en.valid">Add</button>
</div>

<div *ngIf="isJapaneseInput">
  <input placeholder="Type in Japanese" class="input"
  [(ngModel)]="translation.ja"
  required minlength="1" maxlength="100"
  #ja='ngModel' autofocus>

  <div *ngIf="ja.dirty">
    <span *ngIf='ja.errors; then errors else valid'>template renders here...</span>
  </div>

  <button class="button is-primary" (click)="createTranslation()" [disabled]="!ja.valid">Add</button>
</div>

<ng-template #valid>
  <p class="help is-success">looks good!</p>
</ng-template>

<ng-template #errors>
  <p class="help is-danger">form contains errors!</p>
</ng-template>
