<div class="content">
  <h3>My Phrases</h3>
  <p>Add new phrases you want to remember</p>
</div>

<div class="tabs is-boxed">
  <ul>
    <li [ngClass]="{ 'is-active': !inputType }"><a (click)="toggleInputType()">English</a></li>
    <li [ngClass]="{ 'is-active': inputType }"><a (click)="toggleInputType()">Japanese</a></li>
  </ul>
</div>

<div *ngIf="!inputType">
  <div class="field">
    <input placeholder="Type in English" class="input"
    [(ngModel)]="translation.en"
    required minlength="1" maxlength="100"
    #en='ngModel' autofocus>
  </div>

  <button class="button is-primary" (click)="createTranslation()" [disabled]="!en.valid">Translate</button>
  <button class="button is-default" *ngIf="translation.en" (click)="cancelTranslation()">Cancel</button>
</div>

<div *ngIf="inputType">
  <div class="field">
    <input placeholder="Type in Japanese (e.g. 日本)" class="input"
    [(ngModel)]="translation.ja"
    required minlength="1" maxlength="100"
    #ja='ngModel' autofocus>
  </div>

  <button class="button is-primary" (click)="createTranslation()" [disabled]="!ja.valid">Translate</button>
  <button class="button is-default" *ngIf="translation.ja" (click)="cancelTranslation()">Cancel</button>
</div>
