<!-- User logged in -->
<div class="box" *ngIf="auth.currentUser">
  <div class="media">
    <figure class="media-left">
      <p class="image is-round is-64x64">
        <img [src]="auth.currentUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=64px>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ auth.currentUserDisplayName }}</strong>
          <br>
          <small><a (click)="logout()">Logout</a></small>
        </p>
      </div>
    </div>
  </div>
</div>
