<div class="content">
  <h2>
    Learning Points
    <button
      class="button is-link is-pulled-right"
      (click)="toggleNewMistakeModal()"
    >
      Add New
    </button>
  </h2>
  <p>
    These are reminders about things you've learned in Japanese. Add a learning
    point so you don't make the same mistake twice!
  </p>
</div>

<!-- New Mistake Modal -->
<div class="modal" [class.is-active]="newMistakeModalOpen">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="field parent-wrapper">
      <div class="content">
        <h5>
          <i class="fas fa-pencil-alt" aria-hidden="true"></i> New Learning
          Point
        </h5>
      </div>
      <div class="field">
        <label class="label" for="mistakeNewTitle">Title</label>
        <input
          id="mistakeNewTitle"
          class="input"
          [(ngModel)]="mistake.title"
          required
          minlength="1"
          maxlength="100"
          type="text"
          #title="ngModel"
          autofocus
        />
      </div>
      <div class="field">
        <label class="label" for="mistakeNewContent">Incorrect Japanese</label>
        <input
          id="mistakeNewContent"
          class="input"
          [(ngModel)]="mistake.content"
          minlength="1"
          maxlength="100"
          type="text"
          #content="ngModel"
          autofocus
        />
      </div>
      <div class="field">
        <label class="label" for="mistakeNewCorrection">Correct Japanese</label>
        <input
          id="mistakeNewCorrection"
          class="input"
          [(ngModel)]="mistake.correction"
          minlength="1"
          maxlength="100"
          type="text"
          #correction="ngModel"
          autofocus
        />
      </div>
    </div>

    <button
      class="button is-link is-medium is-fullwidth"
      (click)="createMistake()"
      [disabled]="!title.valid"
    >
      SAVE
    </button>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="toggleNewMistakeModal()"
  ></button>
</div>
