<button class="button is-link" (click)="toggleNewMistakeModal()">
  New Learning Point
</button>

<div class="modal" [class.is-active]="newMistakeModalOpen">
  <div class="modal-background"></div>
  <div class="modal-content box">
    <div class="field parent-wrapper">
      <div class="content"><h5>New Learning Point</h5></div>
      <div class="field">
        <label>Title</label>
        <input
          class="input is-medium"
          [(ngModel)]="mistake.title"
          required
          minlength="1"
          maxlength="100"
          type="text"
          #title="ngModel"
          autofocus
        />
      </div>
      <div class="field">
        <label>Incorrect Japanese</label>
        <input
          class="input is-medium"
          [(ngModel)]="mistake.content"
          minlength="1"
          maxlength="100"
          type="text"
          #content="ngModel"
          autofocus
        />
      </div>
      <div class="field">
        <label>Correct Japanese</label>
        <input
          class="input is-medium"
          [(ngModel)]="mistake.correction"
          minlength="1"
          maxlength="100"
          type="text"
          #correction="ngModel"
          autofocus
        />
      </div>
      <button
        class="reset-x-button"
        *ngIf="mistake.title"
        (click)="cancelMistake($event)"
      >
        X
      </button>
    </div>

    <button
      class="button is-info is-medium is-fullwidth"
      (click)="createMistake()"
      [disabled]="!content.valid"
    >
      Add Learning Point
    </button>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="toggleNewMistakeModal()"
  ></button>
</div>
