<div class="content box">
  <div class="media">
    <figure class="media-left">
      <p class="image is-96x96">
        <img src="assets/images/mountain.svg">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <h2 class="title is-3">Add GengoApp to Your iPhone Homescreen (iOS)</h2>
      </div>
    </div>
  </div>
  <p>Quickly connect to your GengoApp content in 3 easy steps!</p>

  <h3><b>Step 1</b></h3>
  <p>Click on the icon at the bottom of your Safari browser.</p>
  <figure class="image">
    <img src="assets/images/add_bookmark/step_1.png">
  </figure>

  <h3><b>Step 2</b></h3>
  <p>Find and tap on the "Add to Home Screen" icon.</p>
  <figure class="image">
    <img src="assets/images/add_bookmark/step_2.png">
  </figure>

  <h3><b>Step 3</b></h3>
  <p>Click "Add" in the top right hand corner.</p>
  <figure class="image">
    <img src="assets/images/add_bookmark/step_3.png">
  </figure>

  <h3><b>Done!</b></h3>
  <p>GengoApp will now be just a tap a way on your iPhone homescreen!</p>
  <figure class="image">
    <img src="assets/images/add_bookmark/step_4.png">
  </figure>
</div>