<div class="verify-icon" title="Verified Translation">
  <i class="fa fa-star golden" aria-hidden="true" *ngIf='translation.verified' (click)='updateStatus(false)'></i>
</div>
<div class="verify-icon" title="Unverified Translation">
  <i class="fa fa-star-o" aria-hidden="true" *ngIf='!translation.verified' (click)='updateStatus(true)'></i>
</div>

<!-- normal view -->
<div *ngIf="!isEdit">
  <h3>{{ translation.ja || defaultMessage }}</h3>
  <div class="translation-text">{{ translation.english }}</div>
</div>

<div *ngIf="isEdit">
  <input placeholder="{{translation.ja || 'Add translation' }}" class="input"
  [(ngModel)]="translation.ja"
  required minlength="2" maxlength="100"
  #ja='ngModel'>

  <input placeholder="{{translation.english || 'Add title' }}" class="input"
  [(ngModel)]="translation.english"
  required minlength="2" maxlength="100"
  #english='ngModel'>
</div>

<div class="sub-footer">
  <i class="fa fa-clock-o fa-icon" aria-hidden="true"></i> <span class="date-time">{{ translation.created_at | date: 'short' }}</span>
</div>

<div class="card-footer">
  <div *ngIf="!isEdit">
    <span class="button is-small is-default" (click)="isEdit=true">Update</span>
    <span class="button is-small is-danger" (click)='deleteTranslation()'>Delete</span>
  </div>
  <div *ngIf="isEdit">
    <span class="button is-small is-primary" (click)='updateTranslation()'>Update</span>
    <span class="button is-small is-default" (click)="isEdit=false">Cancel</span>
  </div>
</div>
