<div class="card-content">
  <!-- normal view -->
  <div *ngIf="!edit">
    <div class="is-pulled-right">
      <span class="icon" title="Listen" *ngIf='translation.ja' (click)='textToSpeech()'>
        <i class="fa fa-microphone has-text-grey" aria-hidden="true"></i>
      </span>
      <span class="has-text-grey-light">|</span>
      <span class="verify-icon icon" title="Translation verified" *ngIf='translation.verified' (click)='updateStatus(false)'>
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span class="verify-icon icon" title="Verify translation" *ngIf='!translation.verified' (click)='updateStatus(true)'>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </span>
    </div>

    <h3>{{ translation.ja || translationMsg }}</h3>
    <p class="sub-text">{{ translation.en || translationMsg }}</p>

    <div class="sub-footer">
      <p *ngIf="translation.notes" class="notes">{{ translation.notes }}</p>
      <p *ngIf="!translation.notes && !edit" class="sub-text is-marginless"><a (click)="toggleEdit()">Add notes</a></p>
    </div>

    <div class="sub-footer is-clearfix">
      <div class="is-pulled-right">
        <span class="icon is-small">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </span>
        <span class="date-time">{{ translation.created_at | date: 'short' }}</span>
      </div>
    </div>
  </div>

  <!-- edit form -->
  <div *ngIf="edit">
    <p style="margin-bottom: 6px"><b>Edit Phrase</b></p>
    <div class="field">
      <input placeholder="{{translation.ja || 'Add Japanese' }}" class="input"
      [(ngModel)]="translation.ja"
      required minlength="2" maxlength="100"
      #ja='ngModel'>
    </div>

    <div class="field">
      <input placeholder="{{translation.en || 'Add English' }}" class="input"
      [(ngModel)]="translation.en"
      required minlength="2" maxlength="100"
      #en='ngModel'>
    </div>

    <div class="field">
      <textarea placeholder="{{translation.notes || 'Add notes' }}" class="textarea"
      [(ngModel)]="translation.notes"
      maxlength="500"
      #notes='ngModel'></textarea>
    </div>
  </div>
</div>

<div class="card-footer" *ngIf="!edit">
  <a class="card-footer-item" (click)="deleteTranslation()">Delete</a>
  <a class="card-footer-item" (click)="toggleEdit()">Edit</a>
</div>

<div class="card-footer" *ngIf="edit">
  <a class="card-footer-item" (click)="toggleEdit()">Cancel</a>
  <a class="card-footer-item" (click)="updateTranslation()">Update</a>
</div>
