<div class="card-content">
  <div class="is-pulled-right">
    <button
      class="button is-hidden-mobile"
      title="Listen"
      *ngIf="translation.ja"
      (click)="textToSpeech()"
    >
      <span class="icon">
        <i class="fas fa-volume-up has-text-link" aria-hidden="true"></i>
      </span>
    </button>

    <div
      class="dropdown is-right"
      [class.is-active]="actionDropdownOpen"
      (click)="toggleDropdown()"
    >
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu3"
        >
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item has-text-grey-dark" (click)="toggleEdit()"
            >Edit</a
          >
          <hr class="dropdown-divider" />
          <a
            class="dropdown-item has-text-grey-dark"
            (click)="deleteTranslation()"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>

  <p class="date-time">
    <span class="icon is-small">
      <i class="far fa-calendar-alt" aria-hidden="true"></i>
    </span>
    <span>{{ translation.created_at | date: 'mediumDate' }}</span>
  </p>

  <h3 class="translation__title">
    <span *ngIf="translation.ja">{{ translation.ja }}</span>
    <a *ngIf="!translation.ja" (click)="toggleEdit()">Add meaning...</a>

    <!-- Like -->
    <span
      *ngIf="!translation.liked"
      class="like-icon icon"
      title="Undo like"
      (click)="updateTranslationLike(true)"
    >
      <i class="far fa-heart" aria-hidden="true"></i>
    </span>

    <!-- Unlike -->
    <span
      *ngIf="translation.liked"
      class="like-icon icon has-text-danger animated tada"
      title="Liked"
      (click)="updateTranslationLike(false)"
    >
      <i class="fa fa-heart" aria-hidden="true"></i>
    </span>
  </h3>

  <p class="translation__phonetics" *ngIf="translation.furigana">
    {{ translation.furigana }}
  </p>
  <p class="translation__meaning">
    <span *ngIf="translation.en"> {{ translation.en }} </span>
    <a *ngIf="!translation.en" (click)="toggleEdit()">Add meaning...</a>
  </p>

  <div class="sub-footer">
    <div class="is-clearfix">
      <div *ngIf="translation.notes" class="content">
        <h5>Notes</h5>
        <pre class="translation__notes">{{ translation.notes }}</pre>
      </div>
      <p *ngIf="!translation.notes">
        <a class="tag is-light" (click)="toggleEdit()">Add notes</a>
      </p>
    </div>
  </div>

  <div class="sub-footer is-clearfix">
    <div class="is-pulled-left">
      <div class="tags is-grouped">
        <span
          class="tag"
          *ngIf="translation.category"
          [ngClass]="{
            'is-primary': translation.category == 'General',
            'is-link': translation.category == 'Casual',
            'is-danger': translation.category == 'Formal',
            'is-warning': translation.category == 'Written',
            'is-success': translation.category == 'Spoken'
          }"
          >{{ translation.category }}</span
        >
      </div>
    </div>

    <div class="is-pulled-right">
      <a (click)="toggleEdit()"
        ><span class="icon is-small">
          <i class="far fa-edit" aria-hidden="true"></i>
        </span>
        Edit</a
      >
    </div>
  </div>
</div>

<!-- Edit Translation Modal -->
<div class="modal" [ngClass]="{ 'is-active': editTranslation }">
  <div class="modal-background" (click)="toggleEdit()"></div>
  <div class="modal-content">
    <div class="content">
      <h5><i class="far fa-edit" aria-hidden="true"></i> Edit phrase</h5>
    </div>
    <div class="field">
      <label class="label" for="translationEditJapanese">Japanese</label>
      <input
        id="translationEditJapanese"
        type="text"
        placeholder="{{ translation.ja }}"
        class="input"
        [(ngModel)]="translation.ja"
        minlength="2"
        maxlength="100"
        #ja="ngModel"
      />
    </div>

    <div class="field">
      <label class="label" for="translationEditFurigana">Furigana</label>
      <input
        id="translationEditFurigana"
        type="text"
        placeholder="{{ translation.furigana }}"
        class="input"
        [(ngModel)]="translation.furigana"
        minlength="2"
        maxlength="100"
        #furigana="ngModel"
      />
    </div>

    <div class="field">
      <label class="label" for="translationEditEnglish">English Meaning</label>
      <input
        id="translationEditEnglish"
        type="text"
        placeholder="{{ translation.en }}"
        class="input"
        [(ngModel)]="translation.en"
        minlength="2"
        maxlength="100"
        #en="ngModel"
      />
    </div>

    <div class="field">
      <label class="label" for="translationEditCategory">Category</label>
      <div class="control has-icons-left">
        <div class="select">
          <select
            id="translationEditCategory"
            minlength="1"
            [(ngModel)]="translation.category"
            #category="ngModel"
          >
            <option *ngFor="let category of categories" [value]="category">{{
              category
            }}</option>
          </select>
          <div class="icon is-small is-left">
            <i
              class="fas fa-tag"
              aria-hidden="true"
              [ngClass]="{
                'has-text-primary': translation.category == 'General',
                'has-text-link': translation.category == 'Casual',
                'has-text-danger': translation.category == 'Formal',
                'has-text-warning': translation.category == 'Written',
                'has-text-success': translation.category == 'Spoken'
              }"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label" for="translationEditNotes">Notes</label>
      <textarea
        id="translationEditNotes"
        placeholder="{{
          translation.notes || 'Add notes or example sentences'
        }}"
        class="textarea"
        [(ngModel)]="translation.notes"
        maxlength="500"
        #notes="ngModel"
      ></textarea>
    </div>

    <div class="field">
      <a
        class="button is-fullwidth is-medium is-link"
        (click)="updateTranslation()"
        >SAVE</a
      >
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="toggleEdit()"
  ></button>
</div>
