.sub-footer {
  &:last-child {
    padding-bottom: 0;
  }
}

$translation-primary-color: #1e71e3;
$translation-accent-color: #f4f9fe;

.translation__title {
  border-left: 6px solid $translation-primary-color;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 10px;
  max-width: 85%;
  padding-left: 12px;
}

.translation__phonetics,
.translation__meaning {
  margin-bottom: 10px;
}

.translation__phonetics {
  color: #aaa;
}

.translation__notes {
  background-color: $translation-accent-color;
  padding: 28px 22px;
}
