<div class="content">
  <h1><span class="image is-inline is-48x48"><img src="assets/images/logo.svg" alt="GengoApp logo"/></span>GengoApp</h1>
  <p>Enhance your language learning!</p>
  <ul>
    <li>Add new phrases quickly using the powerful Google Translate API</li>
    <li>Track and annotate mistakes</li>
    <li>Write posts (with photos) in the language of your choice</li>
  </ul>
  <div *ngIf="!auth.currentUser">
    <p><b>Get started now</b></p>
    <a class="button is-primary" routerLink="/login">Login</a>
    <a class="button is-default" routerLink="/login">Sign Up</a>
  </div>
</div>
