<div class="content box">
  <div class="media">
    <figure class="media-left">
      <p class="image is-96x96"><img src="assets/images/computer.svg" /></p>
    </figure>
    <div class="media-content">
      <div class="content">
        <h2 class="title is-2">Frequently Asked Questions</h2>
      </div>
    </div>
  </div>

  <p>
    GengoApp is useful web-based tool for enhancing your language studies! Here
    are answers to some frequently asked questions.
  </p>
  <hr />

  <h3 class="title is-4">What are Phrases?</h3>
  <p>
    Phrases are a place for you to upload new words or phrases that you have
    learned and want to remember. Click 'edit' to add notes or update the text
    in any way you like.
  </p>

  <hr />

  <div class="notification is-info">
    <p>
      Want to access GengoApp more quickly from your iPhone homescreen? Learn
      how with these
      <a routerLink="/add_gengo_app_to_homescreen">3 easy steps!</a>
    </p>
  </div>

  <hr />

  <h3 class="title is-4">What are Mistakes?</h3>
  <p>
    This list is a place for you to keep track of mistakes you have made when
    speaking or writing Japanese. By making a note of a mistake you have made,
    and what the correct grammar is, you can dramatically improve your speaking
    and writing skills.
  </p>

  <p>
    There is also a counter function you can make use of here to keep track of
    how many times you've made the same mistake. This will give you useful
    insight into how long it typically takes you to break the habit of using
    some grammar incorrectly!
  </p>

  <hr />

  <h3 class="title is-4">What are Posts?</h3>
  <p>
    Posts are the perfect place to practice writing. Add a photo to make your
    post more memorable, and include a translation of your post to strengthen
    your language skills!
  </p>

  <hr />

  <h3 class="title is-4">Can others see my posts?</h3>
  <p>
    Currently only you are able to see the content you post. However, in the
    future I hope to develop the feature of adding friends so that you can get
    comments and feedback from native speakers!
  </p>

  <hr />

  <h3 class="title is-4">How to delete my account?</h3>
  <p>
    To delete your account, please send a request via the
    <a routerLink="/feedback">Feedback page</a>. Type 'Delete account' in the
    message area and choose 'Delete Account' from the categories dropdown. This
    is a permanent action, and all the content you've created along with your
    user info will be deleted. Processing may take up to 24 hours.
  </p>

  <hr />

  <h3 class="title is-4">Where are the icons from?</h3>
  <p>
    <a href="https://www.iconfinder.com/iconsets/new-year-resolutions">Icons</a>
    found on this site were made by
    <a href="https://www.iconfinder.com/laurareen">Laura Reen</a> / licensed
    under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
  </p>

  <hr />

  <p>
    Don't see the answer to your question? Please ask your question via the
    <a routerLink="/feedback">Feedback page</a>.
  </p>
</div>
