<div class="content">
  <h1>
    GengoApp
    <span class="image is-48x48 company__logo"
      ><img src="assets/images/logo.svg" alt="GengoApp logo"
    /></span>
  </h1>
  <p>Enhance your language learning!</p>
  <ul>
    <li>
      Utilize the powerful Google Translate API to record new phrases quickly
    </li>
    <li>Keep track of your common mistakes about Japanese</li>
    <li>Write posts in Japanese to improve your writing skills!</li>
  </ul>
  <div *ngIf="!auth.currentUser">
    <p><b>Get started now</b></p>
    <a class="button is-primary" routerLink="/login">Signup/Login</a>
  </div>

  <hr />
  <h3>Feedback</h3>
  <p>
    GengoApp is in its first release. Whether it is a bug, feature request, or
    something that just doesn't work for you, I'd like to hear from you!
  </p>
  <p><a class="button is-default" routerLink="/feedback">Share Feedback</a></p>

  <hr />
  <h3>Bookmark GengoApp!</h3>
  <p>
    Learn how to add GengoApp to your iPhone homescreen in
    <a routerLink="/add_gengo_app_to_homescreen">3 easy steps!</a>
  </p>
</div>
