<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <small>{{ feedback.created_at | date:'medium' }}<span *ngIf="feedback.edited" class="tag is-white has-text-danger">Edited</span></small>
        <br>
      </p>
      <div *ngIf="!edit">
        <p (click)="toggleEdit()">{{ feedback.body }}</p>
      </div>

      <div *ngIf="edit">
        <div class="field">
          <textarea placeholder="{{feedback.body }}" class="textarea"
          [(ngModel)]="feedback.body"
          required minlength="1" maxlength="100"
          #body='ngModel'></textarea>
        </div>
        <a class="button is-primary" (click)='updateFeedback()'>Update</a>
        <a class="button is-default" (click)='toggleEdit()'>Cancel</a>
      </div>
    </div>
    <div class="level is-mobile">
      <div class="level-left">
        <div class="tags is-grouped">
          <span class="tag is-light" *ngIf="feedback.category != 'Sending Love'">{{ feedback.category }}</span>
          <span class="tag is-light" *ngIf="feedback.category == 'Sending Love'">
            <span>{{ feedback.category }}</span>
            <i class="fa fa-heart has-text-danger" aria-hidden="true" style="margin-left: 4px"></i>
          </span>
          <span class="tag is-light">Status: {{ feedback.status }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="media-right">
    <div class="dropdown is-right" [ngClass]="{ 'is-active': showDropdown }">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="toggleDropdown()">
          <span class="icon is-small">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item" (click)="toggleEdit(); toggleDropdown()">
            Edit
          </a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" (click)="deleteFeedback(); toggleDropdown()">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</article>
