.nav-item {
  overflow: hidden;

  img {
    max-height: 40px;
  }
}

.strike-out { text-decoration: line-through; color: darkred; }

.sub-footer {
  border-top: 1px dashed #ddd;
  color: #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date-time {
  font-size: 14px;
}

.floating-actions {
  float: right;
  font-size: 14px;
  position: relative;
  top: 8px;
}

a.active {
  border-bottom: 1px solid #a1a1a1;
  color: #a1a1a1;

  &:hover {
    border-bottom: 1px solid $black;
    color: $black;
  }
}
