.nav-item {
  overflow: hidden;

  img {
    max-height: 40px;
  }
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.button { border-radius: 0; margin: 10px 5px; }

.strike-out { text-decoration: line-through; color: darkred; }

// Icons
.fa-icon {
  position: relative;
  top: 3px;
}

.sub-footer {
  border-top: 1px dashed #ddd;
  color: #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.count {
  user-select: none;

  .fa-icon {
    cursor: pointer;
  }
}

.date-time {
  font-size: 14px;
}
