.nav-item {
  overflow: hidden;

  img {
    max-height: 40px;
  }
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.button { border-radius: 0; margin: 10px 5px; }

.strike-out { text-decoration: line-through; color: darkred; }
