<div class="question__card">
  <!-- HEADER -->
  <div class="question__header is-clearfix">
    <div class="content is-pulled-left">
      <h3 *ngIf="question.topic" class="question__topic">
        {{ question.topic || 'Add topic...' }}
      </h3>
      <p class="date-time">
        <span class="icon is-small">
          <i class="far fa-calendar-alt" aria-hidden="true"></i>
        </span>
        <span>{{ question.created_at | date: 'mediumDate' }}</span>
      </p>
    </div>

    <div class="is-pulled-right">
      <button
        class="button"
        aria-label="delete"
        title="Delete"
        (click)="deleteQuestion()"
      >
        <span class="icon">
          <i class="fas fa-trash-alt has-text-danger" aria-hidden="true"></i>
        </span>
      </button>
    </div>
  </div>

  <!-- BODY -->
  <div class="question__body">
    <div class="q__item">
      <figure class="q__item-image image is-64x64">
        <img
          src="assets/images/people/{{ question.speaker || 'man' }}.svg"
          class="is-rounded"
          width="64"
          height="64"
        />
      </figure>
      <div class="q__item-text">{{ question.question_text }}</div>
    </div>
    <div class="q__item is-user" [class.is-first]="question.additional_answer">
      <div class="q__item-text">{{ question.answer_text }}</div>
    </div>
    <div *ngIf="question.additional_answer" class="q__item is-user is-last">
      <div class="q__item-text">{{ question.additional_answer }}</div>
    </div>
    <!-- NOTES -->
    <div class="question__notes box is-clearfix">
      <h5>Notes</h5>
      <p *ngIf="question.notes">{{ question.notes }}</p>
      <span *ngIf="!question.notes">
        <a (click)="toggleEditQuestionModal()" class="tag is-light"
          >Add notes...</a
        >
      </span>
    </div>
  </div>
  <div class="question__footer is-clearfix">
    <div class="is-pulled-left">
      <!-- Like -->
      <div
        *ngIf="!question.liked"
        class="like-icon"
        (click)="updateQuestionLike(true)"
      >
        <span class="icon" title="Undo like">
          <i class="fa fa-heart has-text-grey-light" aria-hidden="true"></i>
        </span>
        <span>Like</span>
      </div>

      <!-- Unlike -->
      <div
        *ngIf="question.liked"
        class="like-icon has-text-danger"
        (click)="updateQuestionLike(false)"
      >
        <span class="icon" title="Liked">
          <i class="fa fa-heart animated tada" aria-hidden="true"></i>
        </span>
        <span class="animated slideInLeft">Liked</span>
      </div>
    </div>
    <!-- FOOTER -->
    <div class="is-pulled-right">
      <a (click)="toggleEditQuestionModal()"
        ><span class="icon is-small">
          <i class="far fa-edit" aria-hidden="true"></i>
        </span>
        Edit</a
      >
    </div>
  </div>
</div>

<!-- Edit Question Modal -->
<div class="modal" [class.is-active]="editQuestionModalOpen">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="field parent-wrapper">
      <div class="content">
        <h5><i class="far fa-edit" aria-hidden="true"></i> Edit Question</h5>
      </div>

      <div class="field">
        <label class="label" for="questionNewQuestion"
          >Question <small class="has-text-danger">*</small></label
        >
        <input
          id="questionNewQuestion"
          class="input"
          [(ngModel)]="question.question_text"
          required
          minlength="1"
          maxlength="100"
          type="text"
          #question_text="ngModel"
          autofocus
        />
      </div>

      <div class="field">
        <label class="label" for="questionNewAnswer"
          >Answer <small class="has-text-danger">*</small></label
        >
        <input
          id="questionNewAnswer"
          class="input"
          [(ngModel)]="question.answer_text"
          required
          minlength="1"
          maxlength="100"
          type="text"
          #answer_text="ngModel"
        />
      </div>

      <div class="field">
        <label class="label" for="questionEditSpeaker"
          >Who's talking? <small class="has-text-danger">*</small></label
        >
        <div class="control has-icons-left">
          <div class="select">
            <select
              id="questionEditSpeaker"
              minlength="1"
              required
              [(ngModel)]="question.speaker"
              #speaker="ngModel"
            >
              <option *ngFor="let speaker of speakers" [value]="speaker">{{
                speaker | titlecase
              }}</option>
            </select>
            <div class="icon is-small is-left">
              <img
                src="assets/images/people/{{ question.speaker }}.svg"
                class="is-rounded"
                width="24"
                height="24"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="content" *ngIf="!showAdditionalInputs">
        <a (click)="toggleAdditionalInputs()">
          <i class="fa fa-plus" aria-hidden="true"></i> Show details
        </a>
      </div>

      <div class="content" *ngIf="showAdditionalInputs">
        <div class="field">
          <a class="has-text-danger" (click)="toggleAdditionalInputs()">
            <i class="far fa-eye-slash" aria-hidden="true"></i> Hide details
          </a>
        </div>

        <div class="field">
          <label class="label" for="questionNewAdditionalAnswer"
            >Additional Answer
            <small class="has-text-grey-light">(optional)</small></label
          >
          <input
            id="questionNewAdditionalAnswer"
            class="input"
            [(ngModel)]="question.additional_answer"
            minlength="1"
            maxlength="100"
            type="text"
            #additional_answer="ngModel"
          />
        </div>

        <div class="field">
          <label class="label" for="questionNewNotes"
            >Notes <small class="has-text-grey-light">(optional)</small></label
          >
          <textarea
            id="questionNewNotes"
            placeholder="{{ question.notes || 'Add notes' }}"
            class="textarea"
            [(ngModel)]="question.notes"
            minlength="2"
            maxlength="1000"
            rows="5"
            #notes="ngModel"
          ></textarea>
        </div>

        <div class="field">
          <label class="label" for="questionNewTopic"
            >Topic <small class="has-text-grey-light">(optional)</small></label
          >
          <input
            id="questionNewTopic"
            class="input"
            [(ngModel)]="question.topic"
            minlength="1"
            maxlength="100"
            type="text"
            #topic="ngModel"
          />
        </div>
      </div>

      <button
        class="button is-link is-medium is-fullwidth"
        [disabled]="
          !question_text.valid || !answer_text.valid || !speaker.valid
        "
        (click)="updateQuestion()"
      >
        SAVE
      </button>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="toggleEditQuestionModal()"
    ></button>
  </div>
</div>
