<div class="content">
  <h3>My Mistakes</h3>
</div>

<div *ngIf="!filter">
  <mistake-form></mistake-form>

  <hr>

  <div *ngIf="filteredMistakes?.length > 1 && !showSpinner">

    <a (click)="toggleFilters()">Show Filters</a>
    <hr>
  </div>
</div>

<div *ngIf="filter">
  <h3>Filters</h3>

  <label for="correction">Search mistakes by title</label>
  <input type="text"
         [(ngModel)]="correction"
         (change)="filterPartial('correction', correction)">

  <button *ngIf="correction"
          (click)="removeFilter('correction')">

          Remove Filter
        </button>

  <br>

  <label>Verified?</label>
  <input type="checkbox"
         [(ngModel)]="verified"
         (change)="filterBooleanTrue('verified', verified); unverified=false;">

  <br>

  <label>UnVerified?</label>
  <input type="checkbox"
         [(ngModel)]="unverified"
         (change)="filterBooleanFalse('verified', unverified); verified=false;">

  <br>

  <label for="errorCount">Error Count</label>
  <input type="number"
         id="errorCount"
         [(ngModel)]="errorCount"
         (change)="filterGreaterThan('errorCount', errorCount)">

  <button *ngIf="errorCount"
          (click)="removeFilter('errorCount')">

          Remove Filter
        </button>
  <hr>

  <p>Returned Results: <b>{{ mistakesCount }}</b></p>
  <a (click)="toggleFilters(); resetFilters()">Cancel</a>

  <hr>
</div>

<div *ngFor="let mistake of filteredMistakes | reverse" class="card">
  <mistake-detail [mistake]='mistake'></mistake-detail>
</div>

<div *ngIf="filteredMistakes?.length < 1 && !showSpinner" class="has-text-centered">
  <figure class="image is-128x128 is-centered">
    <img src="assets/images/brain.svg">
  </figure>
  <h5 class="has-text-grey-dark"><b>Looks like you haven't added any mistakes yet</b></h5>
  <p class="has-text-gray-light">Why don't you add one?</p>
</div>

<loading-spinner *ngIf="showSpinner"></loading-spinner>
