// Global styles

@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");

$body-font-color: #484848;

body {
  color: $body-font-color;
  font-family: "Ubuntu", sans-serif;
}

.nav-item {
  overflow: hidden;

  img {
    margin-right: 5px;
    max-height: 40px;
  }
}

//
// bulma overrides
//

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    color: $body-font-color;
  }
}

.message a:not(.button):not(.tag) {
  color: inherit;
}

.image {
  &.is-round {
    img {
      border-radius: 50%;
    }
  }

  &.is-centered {
    margin: 0 auto;
  }

  &.is-inline {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
}
