<!-- normal view -->
<div *ngIf="!isEdit">
  <h3 [ngClass]="{ 'strike-out': !item.active }" (click)="isEdit=true">
    {{ item.title || 'missing title' }}
  </h3>
  <div class="card-footer">
    <span class="button is-small is-info card-footer-item" (click)="isEdit=true">Update Item</span>
    <span class="button is-small is-success card-footer-item" *ngIf='item.active' (click)='updateActive(false)'>Mark Complete</span>
    <span class="button is-small is-warning card-footer-item" *ngIf='!item.active' (click)='updateActive(true)'>Mark Incomplete</span>
    <span class="button is-small is-danger card-footer-item" (click)='deleteItem()'>Delete</span>
  </div>
</div>

<!-- edit view -->
<div *ngIf="isEdit">
  <input placeholder="{{item.title}}" class="input"
  [(ngModel)]="item.title"
  required minlength="2" maxlength="100"
  #title='ngModel' autofocus="true">

  <div class="card-footer">
    <span class="button is-small is-warning card-footer-item" (click)="isEdit=false">Cancel</span>
    <span class="button is-small is-success card-footer-item" (click)='updateItemTitle()'>Update</span>
  </div>
</div>
