<top-nav></top-nav>

  <div class="section">
    <div class="container">
      <div class="columns">
        <aside class="column is-3-desktop is-hidden-touch"></aside>

        <main class="column is-12-tablet is-6-desktop">
          <div class="notification is-info" [ngClass]="{ 'hidden' : close }">
            <button class="delete" (click)="triggerClose()"></button>
            <p>Learn how to add GengoApp to your iPhone homescreen in <a routerLink="/add_gengo_app_to_homescreen" (click)="triggerClose()">3 easy steps!</a></p>
          </div>

          <router-outlet></router-outlet>
        </main>

      </div>
    </div>
  </div>

<footer-nav></footer-nav>
