<div class="content">
  <h3>Feedback</h3>
  <p>Use the following form to submit feedback about GengoApp.</p>
  <small><span  class="has-text-danger">*</span> indicates required field</small>
</div>

<div class="field">
  <label for="feedbackBody" class="label">Message <small class="has-text-danger">*</small></label>
  <textarea placeholder="What can be improved?" id="feedbackBody" class="textarea"
  [(ngModel)]="feedback.body"
  required minlength="1" maxlength="100"
  #body='ngModel' autofocus></textarea>
</div>

<div class="field">
  <label for="feedbackCategory" class="label">Category <small class="has-text-danger">*</small></label>
  <div class="control">
    <div class="select">
      <select id="feedbackCategory"
              required minlength="1"
              [(ngModel)]="feedback.category"
              #category='ngModel'>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>
  </div>
</div>

<button class="button is-primary" (click)="createFeedback()" [disabled]="!body.valid || !category.valid">Submit</button>
<button class="button is-default" *ngIf="feedback.body || feedback.category" (click)="cancelFeedback()">Cancel</button>
