<div class="field">
  <textarea placeholder="What can be improved?" class="textarea"
  [(ngModel)]="feedback.body"
  required minlength="1" maxlength="100"
  #body='ngModel' autofocus></textarea>
</div>

<div class="field">
  <label for="feedbackCategory" class="label">Category</label>
  <div class="control">
    <div class="select">
      <select id="feedbackCategory"
              required
              [(ngModel)]="feedback.category"
              #category='ngModel'>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>
  </div>
</div>

<button class="button is-primary" (click)="createFeedback()" [disabled]="!body.valid">Submit</button>
<button class="button is-default" *ngIf="feedback.body" (click)="cancelFeedback()">Cancel</button>
