<article class="message is-primary">
  <div class="message-header">
    <div class="verify-icon">
      <span
        class="icon"
        title="Verified correction"
        *ngIf="mistake.verified"
        (click)="updateStatus(false)"
      >
        <i class="fa fa-heart has-text-danger" aria-hidden="true"></i>
      </span>
      <span
        class="icon"
        title="Unverified correction"
        *ngIf="!mistake.verified"
        (click)="updateStatus(true)"
      >
        <i class="far fa-heart" aria-hidden="true"></i>
      </span>
      <span>{{ mistake.title }}</span>
    </div>
    <div
      class="dropdown is-right"
      [class.is-active]="actionDropdownOpen"
      (click)="toggleDropdown()"
    >
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu3"
        >
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item has-text-grey-dark" (click)="toggleEdit()"
            >Edit</a
          >
          <hr class="dropdown-divider" />
          <a class="dropdown-item has-text-grey-dark" (click)="deleteMistake()"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="card-content">
    <!-- normal-view -->
    <div *ngIf="!edit">
      <h3 class="strike-out">{{ mistake.content || mistakeIsBlank }}</h3>
      <div class="sub-footer">
        <p class="sub-text" *ngIf="mistake.correction">
          <b>{{ mistake.correction }}</b>
        </p>
        <p *ngIf="mistake.notes" class="notes">{{ mistake.notes }}</p>
      </div>

      <div class="sub-footer is-clearfix">
        <div class="is-pulled-left">
          <span class="icon is-small">
            <i class="far fa-clock" aria-hidden="true"></i>
          </span>
          <span class="date-time">{{
            mistake.created_at | date: "fullDate"
          }}</span>
        </div>
        <div class="error-count is-pulled-right">
          <span>Mistake count: </span>
          <span class="icon has-text-info" (click)="decreaseErrorCount()">
            <i class="fas fa-minus-circle" aria-hidden="true"></i>
          </span>
          <span class="has-text-grey-dark">{{ mistake.errorCount }}</span>
          <span class="icon has-text-info" (click)="increaseErrorCount()">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <!-- edit-view -->
    <div *ngIf="edit">
      <p style="margin-bottom: 6px"><b>Edit Learning Point</b></p>
      <div class="field">
        <input
          type="text"
          placeholder="{{mistake.correction || 'Add learning point' }}"
          class="input is-medium"
          [(ngModel)]="mistake.correction"
          required
          minlength="2"
          maxlength="100"
          #correction="ngModel"
        />
      </div>

      <div class="field">
        <input
          type="text"
          placeholder="{{mistake.content || 'Add mistaken Japanese' }}"
          class="input is-medium"
          [(ngModel)]="mistake.content"
          required
          minlength="2"
          maxlength="100"
          #content="ngModel"
        />
      </div>

      <div class="field">
        <textarea
          placeholder="{{mistake.notes || 'Add notes' }}"
          class="textarea is-medium"
          [(ngModel)]="mistake.notes"
          required
          minlength="2"
          maxlength="1000"
          rows="10"
          #notes="ngModel"
        ></textarea>
      </div>

      <div class="field">
        <a class="button is-link is-fullwidth" (click)="updateMistake()"
          >Update</a
        >
        <a class="button is-default is-fullwidth" (click)="toggleEdit()"
          >Cancel</a
        >
      </div>
    </div>
  </div>
</article>
