<div class="card">
  <div class="card-image" *ngIf="post.url">
    <figure class="image is-3by2">
      <img ng-src="post.url" class="md-card-image" alt="post image" src="{{ post.url }}">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <h5 class="title is-4">{{ post.title }}</h5>
      <p>{{ post.body }}</p>
      <p *ngIf="post.translation">{{ post.translation }}</p>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <small>{{ post.created_at | date:'medium' }}</small>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <span class="button is-small is-default" (click)='deletePost(post)'>Delete Post</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
