<div class="md-card">
  <img ng-src="assets/images/washedout.png" class="md-card-image" alt="Washed Out" src="assets/images/washedout.png">
  <div class="md-card-title">
    <span class="md-headline">{{ post.title || 'title missing' }}</span>
  </div>
  <div class="md-card-content">
    <p>{{ post.body || 'body missing' }}</p>
  </div>
  <div class="layout-align-end-center layout-row">
    <span class="button is-small is-danger card-footer-item" >Delete</span>
  </div>
  <reaction></reaction>
</div>