<div class="tabs is-boxed">
  <ul>
    <li [ngClass]="{ 'is-active': newUser }"><a (click)="toggleForm()">Sign Up</a></li>
    <li [ngClass]="{ 'is-active': !newUser }"><a (click)="toggleForm()">Log In</a></li>
  </ul>
</div>

<!-- Sign Up -->
<form [formGroup]="userForm"  *ngIf="newUser" (ngSubmit)="signup()">
  <div class="field">
    <p class="control has-icons-right">
      <input type="email" id="email" class="input"
             formControlName="email" placeholder="Email Address" required>
      <span class="icon is-small is-right">
        <i class="fa fa-envelope"></i>
      </span>
    </p>
    <div *ngIf="formErrors.email" class="notification is-danger">
      {{ formErrors.email }}
    </div>
  </div>

  <div class="field">
    <p class="control has-icons-right">
      <input type="password" id="password" class="input" placeholder="Password"
             formControlName="password" required >
      <span class="icon is-small is-right">
        <i class="fa fa-lock"></i>
      </span>
    </p>
    <div *ngIf="formErrors.password" class="notification is-danger">
      {{ formErrors.password }}
    </div>
  </div>

  <div class="field">
    <p class="control">
      <button class="button is-full-width" type="submit" [ngClass]="{ 'is-primary': userForm.valid }" [disabled]="!userForm.valid">
        Sign up with Email
      </button>
    </p>
  </div>
</form>

<!-- Log In -->
<form [formGroup]="userForm"  *ngIf="!newUser" (ngSubmit)="login()">
  <div class="field">
    <p class="control has-icons-right">
      <input type="email" id="email" class="input"
             formControlName="email" placeholder="Email Address" required>
      <span class="icon is-small is-right">
        <i class="fa fa-envelope"></i>
      </span>
    </p>
    <div *ngIf="formErrors.email" class="notification is-danger">
      {{ formErrors.email }}
    </div>
  </div>

  <div class="field">
    <p class="control has-icons-right">
      <input type="password" id="password" class="input" placeholder="Password"
             formControlName="password" required >
      <span class="icon is-small is-right">
        <i class="fa fa-lock"></i>
      </span>
    </p>
    <div *ngIf="formErrors.password" class="notification is-danger">
      {{ formErrors.password }}
    </div>
  </div>

  <div class="field">
    <p class="control">
      <button class="button is-full-width" type="submit" [ngClass]="{ 'is-primary': userForm.valid }" [disabled]="!userForm.valid">
        Log in with Email
      </button>
    </p>
  </div>

  <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
  <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>
</form>

<hr>