<div class="wrapper">
  <div class="emojis" *ngIf="showEmojis">
    <span *ngFor="let emoji of emojiList; index as i;">
      <img [src]="emojiPath(emoji)" width='75px' (click)="react(i)">
    </span>
  </div>

  <span class="like" (click)="react(0)" [class.liked]="userReaction != null" (mouseenter)="toggleShow(true)" (mouseleave)="toggleShow(false)">
      Like
  </span>

  <span *ngIf="userReaction != null">
    | You reacted <strong>{{ emojiList[userReaction] }}</strong>
  </span>

  <div class="reactions" *ngIf="userReaction != null">
    <div *ngFor="let emoji of emojiList; index as i;" class="reaction-counts">
      <span *ngIf="hasReactions(i)">
        <img [src]="emojiPath(emoji)"> {{ reactionCount[i] }}
      </span>
    </div>
  </div>
</div>
