<h3>New Post</h3>

<div class="box">
  <input placeholder="Post Title" class="input"
  [(ngModel)]="upload.title"
  required minlength="2" maxlength="23"
  #title='ngModel' autofocus>

  <textarea placeholder="Post Body" class="textarea"
  [(ngModel)]="upload.body"
  required minlength="2" maxlength="500"
  #body='ngModel'></textarea>

  <label style="margin-bottom: 5px; display: block;">
    <input type="file" class="button" (change)="detectFiles($event)">
  </label>

  <a (click)="isTranslate=true" *ngIf="!isTranslate">Add Translation?</a>

  <div *ngIf="isTranslate">
    <textarea placeholder="Translation (optional)" class="textarea"
    [(ngModel)]="upload.translation"
    required minlength="2" maxlength="500"
    #translation='ngModel'></textarea>
    <button class="is-danger" (click)="isTranslate=false">Cancel</button>
  </div>

  <hr>

  <button class="button is-primary"
          [disabled]="!selectedFiles"
          (click)="uploadSingle()">
    Create Post
  </button>
</div>

