<div *ngIf="!auth.currentUser; else: alreadyLoggedIn">
  <p class="field">
    <button
      class="button is-fullwidth is-social-button is-google"
      (click)="signInWithGoogle()"
    >
      <span class="icon" style="margin-right: 6px">
        <i class="fa fa-google-plus"></i>
      </span>
      <span>Continue with Google</span>
    </button>
  </p>

  <div class="or-separator">
    <span class="content"> <span>or</span> </span>
  </div>

  <user-form></user-form>
</div>

<ng-template #alreadyLoggedIn>
  <div class="notification is-info">Hey there! You're already logged in!</div>
</ng-template>
