<div *ngIf="!auth.currentUser; else alreadyLoggedIn">

  <user-form></user-form>

  <div class="or-separator">
    <span class="content">
      <span>or</span>
    </span>
  </div>

  <p class="field">
    <button class="button is-medium is-full-width" (click)="signInWithGoogle()">
      <span class="icon">
        <i class="fa fa-google-plus"></i>
      </span>
      <span>Continue with Google</span>
    </button>
  </p>
</div>

<ng-template #alreadyLoggedIn>
  <div class="notification is-info">
    Already logged in!
  </div>
</ng-template>
