<post-form></post-form>

<div *ngFor="let post of posts | async">
  <post-detail [post]='post'></post-detail>
</div>

<!-- blank-state -->
<div *ngIf="(posts | async)?.length < 1 && !showSpinner" class="blank-state">
  <figure class="image is-128x128 is-centered">
    <img src="assets/images/pencil.svg">
  </figure>
  <h5 class="has-text-grey-dark"><b>Looks like you haven't added any posts yet</b></h5>
  <p class="has-text-gray-light">Why don't you add one?</p>
</div>

<loading-spinner *ngIf="showSpinner"></loading-spinner>
