<div class="content">
  <h3>My Posts</h3>
</div>

<a (click)="isAddPost=true" *ngIf="!isAddPost">Add Post</a>

<div *ngIf="isAddPost">
  <post-form></post-form>
  <a style="display: inline-block; margin-top: 5px" (click)="isAddPost=false">Cancel</a>
</div>

<hr>

<div *ngFor="let post of posts | async">
  <post-detail [post]='post'></post-detail>
</div>

<div *ngIf="(posts | async)?.length < 1 && !showSpinner" class="has-text-centered">
  <figure class="image is-128x128 is-centered">
    <img src="assets/images/pencil.svg">
  </figure>
  <h5 class="has-text-grey-dark"><b>Looks like you haven't added any posts yet</b></h5>
  <p class="has-text-gray-light">Why don't you add one?</p>
</div>

<loading-spinner *ngIf="showSpinner"></loading-spinner>
